
body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    background: #f5f7fa; 
    margin: 0;
    padding: 0;
}


.container {
    max-width: 600px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}


h1, h2 {
    color: #2d3e50;
    text-align: center;
    font-weight: 600;
}



form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 12px;
    font-size: 15px;
    box-sizing: border-box; 
}


input:focus, textarea:focus {
    border-color: #5993ff;
    box-shadow: 0 0 4px rgba(89,147,255,0.4);
    outline: none;
}



button,
input[type="submit"] {
    background: #4f7cff; 
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

button:hover,
input[type="submit"]:hover {
    background: #3b66dd;
}


.btn-secondary {
    background: #e74c3c; 
}

.btn-secondary:hover {
    background: #c0392b;
}



.task-card {
    background: #ffffff;
    border: 1px solid #dfe4ea;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}

.task-card:hover {
    background: #f1f4f8;
    border-color: #bfc7d1;
}

.task-title {
    font-size: 16px;
    color: #34495e;
    font-weight: 500;
}

.task-actions a {
    text-decoration: none;
    background: #ff7675;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
}

.task-actions a:hover {
    background: #e05656;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 14px 20px;    
    background-color: #2c3e50;
    color: white;
    font-size: 20px;
}


